<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busqueda y recuperacion de informacion</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>
<section id = "backgroundimage">
    <section id = "backgroundsection">
        <section id="searchsection">
            <article id="indextext" class="roboto fontsize48">
                Busca lo que necesites cuando lo necesites
            </article>
            <div id="searchbarsection">
                <form>
                    <input id="searchbar">
                    <input type="button" id="submitbutton" class="fontsize24 roboto" value="Buscar">
                </form>
            </div>
        </section>
    </section>

</section>
<section id="downsection">
    <div id="solrfooter">
        <p class="montserrat fontsize34">Busqueda basada en Solr</p>
        <picture>
            <img src="images/solr.png" alt="solr">
        </picture>
    </div>
</section>
</body>
<script src="js/script.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js" integrity="sha512-TToQDr91fBeG4RE5RjMl/tqNAo35hSRR4cbIFasiV2AAMQ6yKXXYhdSdEpUcRE6bqsTiB+FPLPls4ZAFMoK5WA==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
</html>