<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busqueda y recuperacion de informacion</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<section id = "backgroundimage">
    <section id = "backgroundsection">
        <section id="searchsection">
            <article id="indextext" class="roboto fontsize48">
                Busca lo que necesites cuando lo necesites
            </article>
            <div id="searchbarsection">
                <form>
                    <input type="text" id="searchbar">
                    <input type="button" id="submitbutton" class="fontsize24 roboto" value="Buscar">
                </form>
            </div>
        </section>
    </section>

</section>
<section id="downsection">
    <div id="solrfooter">
        <p class="montserrat fontsize34">Busqueda basada en Solr</p>
        <picture>
            <img src="images/solr.png" alt="solr">
        </picture>
    </div>
</section>
</body>
<script src="js/script.js" defer></script>
</html>