*{
    margin: 0;
}

html,body {
    height: auto;
}

#pagebody{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    flex-direction: column;
}

#pagebody aside{
    flex: 2;
    align-items: center;
    padding-top: 20px;
}

#pagebody section{
    flex: 7;
    display: flex;
}

#asidesection{
    height: 1000px;
    width: 308px;
    background-color: #3A0C3D;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    justify-content: center;
}

section .box{
    max-width: 1200px;
    margin-bottom: 24px;
    background-color: white;
    height: 165px;
    border: 1px solid;
    filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    padding-top: 32px;
    padding-left: 16px;
}

section .box p{
    padding-bottom: 8px;
}

.roboto{
    font-family: 'Roboto',sans-serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.fontsize24{
    font-size: 24px;
}

.fontsize18{
    font-size: 18px;
}

.fontsize14{
    font-size: 14px;
}

#searchaside{
    flex: 2 !important;
}

#searchaside form{
    text-align: center;
    justify-content: center;
}

#searchaside form input{
    width: 272px;
    height: 50px;
    border: none;
}

#searchaside form input:first-child{
    border-radius: 10px;
    margin-bottom: 16px;
}

#searchaside form input:nth-child(2){
    border-radius: 4px;
    background-color: #FF5500;
    color: white;
    font-size: 24px;
}

#titlebusqueda{
    flex: 2 !important;
    align-items: center;
    justify-content: center;
}

#hostsection{
    flex-direction: column;
}

#correctionsection,#searchsuggestion{
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.parrafo{
    margin-top: 10px;
}

.pagination{
    margin: 0 auto;
    width: 440px;
    height: 100px;
    align-self: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}